@model HardwareStore.Models.DbModels.Tag

@{
    ViewData["Title"] = "Usuń tag "  + Model.Name;
}

<h1>Usuń tag @Model.Name</h1>

<h3>Czy jesteś pewien, że chcesz to usunąć?</h3>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nazwa
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="TagId" />
        <input type="submit" value="Nazwa" class="btn btn-danger" /> |
        <a asp-action="Index">Wróć</a>
    </form>
</div>
