<div class="settingsMenu">
    <a href="@Url.Action("Address", "Profile")">Adres</a>
    <a href="@Url.Action("MyOrders", "Orders")">Moje zamówienia</a>
    <a asp-area="Identity" asp-page="/Account/Manage/ChangePassword">Zmień hasło</a>
    <a asp-area="Identity" asp-page="/Account/Manage/PersonalData">Usuń konto</a>
</div>