@using HardwareStore.Models.ModelsConfig

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap&subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel="icon" type="image/x-icon" href="~/favicon.png">

    @if (ViewBag.DisableMainStyles != true)
    {
        <link rel="stylesheet" href="~/css/site.css" />
    }
</head>
<body>

    @if (ViewBag.DisableNavbar != true)
    {
        @await Html.PartialAsync("_Navbar")
    }
    @RenderBody()

    @*@if (ViewBag.DisableFooter != true)
        {
            @await Html.PartialAsync("_Footer")
        }*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/brands.js" asp-append-version="true"></script>
    <script src="~/js/productList.js" asp-append-version="true"></script>
    <script src="~/js/slider.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    @await Html.PartialAsync("_ValidationScriptsPartial")
</body>
</html>
