@model HardwareStore.ViewModels.Account.ResetPasswordViewModel;
@{
    ViewData["Title"] = "Zapomniałeś hasła?";
    Layout = "_UserLayout";
    //ViewBag.DisableNavbar = true;
}
<h4 style="margin-top: 10vh">Wpisz swój email.</h4>

<div class="inputForm">
    <div class="loginForm">
        @using (Html.BeginForm("SendVerificationToken", "Account", FormMethod.Post))
        {
            <div asp-validation-summary="All" class="warningText"></div>
            <div class="inputGroup">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="textInput" />
                <span asp-validation-for="Email" class="warningText"></span>
            </div>
            <div class="inputGroup">
                <input type="submit" value="Wyślij" class="btn" />
            </div>
        }
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}