
@{
    ViewData["Title"] = "Mój profil";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<a href="@Url.Action("Index", "Addresses")">Edytuj moje adresy</a>
<a href="@Url.Action("MyOrders", "Orders")">Moje zamówienia</a>
<h3>Zmień hasło</h3>
<h3>Usuń konto</h3>
