@model IEnumerable<HardwareStore.Models.DbModels.Gallery>

@{
    ViewData["Title"] = "Galerie";
}

<h1>Galerie</h1>

<p>
    <a asp-action="Create">Dodaj nową</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nazwa
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GalleryId">Edytuj</a> |
                <a asp-action="Delete" asp-route-id="@item.GalleryId">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
