@model IEnumerable<HardwareStore.Models.DbModels.Brand>

@{
    ViewData["Title"] = "Marki";
}

<h1>Marki</h1>

<p>
    <a asp-action="Create">Dodaj nową</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nazwa
            </th>
            <th>
                Zdjęcie
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <img src="@item.Image.Url" style="max-width: 100px"/>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BrandId">Edytuj</a> |
                <a asp-action="Delete" asp-route-id="@item.BrandId">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
